/aks-terraform/networking-module/.terraform/
/aks-terraform/networking-module/.terraform.lock.hcl
/aks-terraform/networking-module/terraform.tfstate
/aks-terraform/networking-module/terraform.tfstate.backup
